*{
	margin: 0px;
	padding: 0px;
}
#container{
	position: relative;
}
.box{
	padding: 5px;
	float: left;
}
.box_img{
	padding: 5px;
	border: 1px solid #cccccc;
	box-shadow: 0 0 5px #ccc;/*阴影 左 右 全 颜色	*/
	border-radius: 5px;/*圆角*/
}

.box_img img{
	width: 150px;
	height: auto; /*自适应*/
}